@import "bootstrap/scss/bootstrap";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  background: fixed url("/images/bg.jpg");
}

#cartButton {
  min-height: 25px;
  max-height: 50px;
}

@media (min-width: 800px) {
  #cover {
    max-height: 800px;
  }
}

.card {
  cursor: pointer;
}
